
.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

.wrapper {
display: table-cell;
height: 400px;
vertical-align: middle;
}

.arrow-steps .step {
font-size: 10px;
text-align: center;
color: #666;
cursor: default;
margin: 0 3px;
padding: 10px 10px 10px 30px;
min-width: 180px;
float: left;
position: relative;
background-color: #d9e3f7;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; 
transition: background-color 0.2s ease;
cursor: pointer;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
content: " ";
position: absolute;
top: 0;
right: -17px;
width: 0;
height: 0;
border-top: 19px solid transparent;
border-bottom: 17px solid transparent;
border-left: 17px solid #d9e3f7;	
z-index: 2;
transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
right: auto;
left: 0;
border-left: 17px solid #fff;	
z-index: 0;
}

.arrow-steps .step:first-child:before {
border: none;
}

.arrow-steps .step:first-child {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
position: relative;
}

.arrow-steps .step.current {
color: #fff;
background-color: #677083;
}

.arrow-steps .step.current:after {
border-left: 17px solid #677083;	
}

.arrow-steps .step.completed {
  color: #fff;
  background-color: #23468c;
  }
  
  .arrow-steps .step.completed:after {
  border-left: 17px solid #23468c;	
  }


.my-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.my-button:hover {
  background-color: #2980b9;
}